<section class="w3l-teams-15">
    <div class="team-single-main editContent">
        <div class="container">

            <div class="row">
                <div class="column2 col-lg-6">

                    <img src="@ViewBag.imageUrl" alt="product" class="img-responsive ">
                </div>
                <div class="nature-row  coloum4 col-lg-6">
                    <h6 class="small-title">Keşfet</h6>
                    <h3>@ViewBag.title</h3>
                    <p class="para editContent text ">
                        @ViewBag.description
                    </p>
                    <a href="/Explore/Index" class="action-button btn mt-lg-5 mt-4">Devam Et</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
